
*{
    padding: 0px;
    margin: 0px;
}


a:link{
    color:black;
}

a:visited{
    color: rgb(96, 102, 102);
}

.li1{
    display: inline-block;
    font-weight:900;
    padding-right: 20px;
    font-family: "Poppins-blak";
}

header {
    padding:20px 0px 40px 40px;
}

.header_name{
    font-size: 50px;
    margin: 0px 200px 0px 300px;
    font-family: "Poppins-blak";
}

.header-div-2{
    max-width: 500px;
    display:inline-flex;
    justify-content: space-around;
    width: 100%;
}

.header1{
    flex-direction: row;
    display: flex;  
    background-color:ghostwhite;
}

.a_svg1{
   display: flex;
   flex-direction: row;
}

.a_svg2{
    display: flex;
    flex-direction: row;
 }
.svg_p{
    padding-left: 10px;
}


.menu{
    flex-direction: row;
    display: flex;  
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

 .header2{
    margin-top: 30px; 
 }

 .menu_li{
    display: flex;
    list-style-type:  none;
    margin-right: 20px;
    font-family: "Poppins-blak";
    position: relative;
 }

 .menu_small1{
    display: none;
    position: absolute;
    list-style-type:none ;
    border-radius: 8px;
    background-color: aqua;
    margin-top: 25px;
    border: 1px solid;
    width: 150px;
 }

.li_menu_small1{
    padding-bottom: 10px;
}

 .menu_small1 :hover{
    display: block;
 }

 .menu :first-child:hover .menu_small1{
    display: block;
 }

#menu_li9{
    margin-left:400px ;
    margin-right:20px ;
    display: flex;
    flex-direction: row;
}
.menu_li9_items{
    background-color: yellow; 
    width: 20px;
    display: flex;
    font-family: "Poppins-blak";
}
.menu_li10{
    list-style: none; 
    font-family: "Poppins-blak";
}