.block{
  width: 33%;
  height: auto;
  background-color: aqua;
  padding: 10px;
  margin: 10px;

}

.parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.background{
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: justify;

}


.background p{
  padding:50px;
}

