*{
    margin:0;
    padding:0;
}

.menu{
    display: flex;
    list-style: none;
    cursor:pointer;
}

.menu li{
margin:10px;
}

header{
    background-color: aqua;
    padding : 10px 20px 5px 10px;
}

.head{
    background-color: rgb(71, 221, 71);
}

.small_menu li{
    list-style: none;
}

.small_menu{
    display:none;
    position:absolute;
    border:1px solid  rgb(red,green,blue);
    background-color: rgb(red,green,blue);
    border-radius: 8px;
}

.menu:first-child:hover .small_menu{
    display:block;
}

.square{
    width:200px;
    height:200px;
    background-color: aquamarine;
}

.small_square{
    width:50px;
    height:50px;
    background-color: rgb(198, 207, 19);
}

.parent{
    position:relative;
}

.podmenu1{
    display:none;
}

.podmenu:hover .podmenu1{
display:block;
transition: .5;
}